In [1]:
import pandas as pd  
data=pd.read_csv('air-pollution.csv')
data

,Country,Year,Nitrogen Oxide,Sulphur Dioxide,Carbon Monoxide,Organic Carbon,NMVOCs,Black Carbon,Ammonia
0,Afghanistan,1750,555.42,139.42,142073.31,5456.88,13311.29,1633.03,7628.36
1,Afghanistan,1760,578.45,145.09,147859.24,5679.12,13853.64,1699.54,7946.02
2,Afghanistan,1770,602.42,150.99,153867.41,5909.88,14416.85,1768.60,8276.90
3,Afghanistan,1780,627.37,157.11,160104.42,6149.44,15001.56,1840.29,8621.53
4,Afghanistan,1790,653.34,163.46,166576.77,6398.04,15608.38,1914.68,8980.49
...,...,...,...,...,...,...,...,...,...
47530,Zimbabwe,2015,83842.10,67231.29,1610636.44,108275.48,299713.47,30912.24,112425.84
47531,Zimbabwe,2016,76234.43,59452.70,1632515.11,111975.72,302718.32,31570.53,115539.98
47532,Zimbabwe,2017,74381.80,53891.39,1657688.51,114613.20,306905.62,32344.41,118254.66
47533,Zimbabwe,2018,73062.53,51072.78,1653664.68,114583.51,306860.21,32365.56,119965.76
47534,Zimbabwe,2019,70779.92,45896.98,1647792.46,114543.28,306574.85,32364.53,121689.67

In [2]:
data.shape

(47535, 9)

In [5]:
data.count()

Country            47535
Year               47535
Nitrogen Oxide     47535
Sulphur Dioxide    47535
Carbon Monoxide    47535
Organic Carbon     47535
NMVOCs             47535
Black Carbon       47535
Ammonia            47535
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47535 entries, 0 to 47534
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          47535 non-null  object
 1   Year             47535 non-null  int64
 2   Nitrogen Oxide   47535 non-null  float64
 3   Sulphur Dioxide  47535 non-null  float64
 4   Carbon Monoxide  47535 non-null  float64
 5   Organic Carbon   47535 non-null  float64
 6   NMVOCs           47535 non-null  float64
 7   Black Carbon     47535 non-null  float64
 8   Ammonia          47535 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 3.3+ MB

In [7]:
data.isnull().sum()

Country            0
Year               0
Nitrogen Oxide     0
Sulphur Dioxide    0
Carbon Monoxide    0
Organic Carbon     0
NMVOCs             0
Black Carbon       0
Ammonia            0
dtype: int64

In [8]:
data[data.duplicated()]

Empty DataFrame
Columns: [Country, Year, Nitrogen Oxide, Sulphur Dioxide, Carbon Monoxide, Organic Carbon, NMVOCs, Black Carbon, Ammonia]
Index: []

In [10]:
data['Country'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [12]:
data['Year'].unique()

array([1750, 1760, 1770, 1780, 1790, 1800, 1801, 1802, 1803, 1804, 1805,
       1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816,
       1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827,
       1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838,
       1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849,
       1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860,
       1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871,
       1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
       1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
       1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926,
       1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937,
       1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019], dtype=int64)

- Top 20 countries who emits highest amount of 'Carbon Monoxide'

In [33]:
data.groupby('Country')['Carbon Monoxide'].sum().sort_values(ascending=False).head(20)

Country
World                            6.157096e+10
Asia                             2.587719e+10
High-income countries            2.465349e+10
Upper-middle-income countries    2.185557e+10
North America                    1.535420e+10
China                            1.381738e+10
United States                    1.290595e+10
Europe                           1.287831e+10
Lower-middle-income countries    1.182017e+10
Africa                           4.783026e+09
India                            4.592314e+09
Low-income countries             2.891270e+09
Russia                           2.729556e+09
South America                    2.257326e+09
France                           1.808426e+09
United Kingdom                   1.561339e+09
Germany                          1.414913e+09
Indonesia                        1.172292e+09
Canada                           1.160099e+09
Nigeria                          9.764349e+08
Name: Carbon Monoxide, dtype: float64

- Countries who emits least amount of 'Carbon Monoxide'

In [37]:
data.groupby('Country')['Carbon Monoxide'].sum().sort_values(ascending=True).head(20)

Country
Guam                               115.31
Greenland                         1447.36
Tokelau                           3956.84
Niue                             11455.08
Faeroe Islands                   16779.95
Falkland Islands                 22218.22
Wallis and Futuna                29485.20
Turks and Caicos Islands         37148.91
Saint Pierre and Miquelon        49373.26
Cook Islands                     57377.74
British Virgin Islands           60536.03
American Samoa                   69958.02
Western Sahara                   86794.77
Marshall Islands                102223.86
Liechtenstein                   120879.85
Kiribati                        176068.25
Gibraltar                       193053.30
United States Virgin Islands    230000.81
Sint Maarten (Dutch part)       239792.08
Cayman Islands                  291513.09
Name: Carbon Monoxide, dtype: float64

In [35]:
data.groupby('Year')['Carbon Monoxide'].sum().sort_values(ascending=False).head(10)

Year
1989    2.640804e+09
1988    2.630584e+09
1991    2.625893e+09
1992    2.604337e+09
1990    2.603653e+09
1993    2.596978e+09
1987    2.590727e+09
1995    2.584673e+09
1994    2.562913e+09
1986    2.548882e+09
Name: Carbon Monoxide, dtype: float64

In [36]:
data['Carbon Monoxide'].mean()

5173732.871237825